// Color Variables
$color-primary: #00c485;
$color-gray-light: lightgray;
$color-gray-border: #e5e5e5;
$color-gray-text: #666;
$color-gray-dark: #333;

// Common Colors
$color-white: #ffffff;
$color-black: #000000;